.article-item-sub,
.article-content-sub,
.page-item-sub {
  color: rgb(0, 223, 253);
}

.page-item,
.article-item,
.fluentinterface {
  background-color: rgb(43, 39, 39);
  padding: 24px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 229, 234);
  border-radius: 16px;
}

.fluenthint {
  background-color: #cff4fc !important;
}

.nav-item .nav-link {
  color: grey !important;
}

body:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  position: fixed;
  background-color: rgb(20, 20, 20);
}

* {
  color: white;
}

.modal-header {
  border: none;
  background-color: rgb(0, 197, 171);
}

.modal-footer {
  border: none;
  background-color: rgb(49, 49, 49);
}

.fluentbtn {
  border-radius: 24px;
  background-color: rgb(71, 71, 71);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(85, 85, 85);
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 110%;
}

.fluentbtn-blue {
  background-color: #01747c !important;
  color: white !important
}

.fluentbtn-blue:hover {
  background-color: #006f77 !important;
  color: white !important
}

.fluentbtn-blue:active {
  background-color: #004f55 !important;
  color: rbg(218, 228, 255) !important
}

.fluentbtn:hover {
  background-color: rgb(61, 61, 61);
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.fluentbtn:active {
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: rgb(255, 255, 255);

}


@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fade-off {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes fade-off {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(20px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@-webkit-keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(20px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(-20px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@-webkit-keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(-20px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(20px)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@-webkit-keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(20px)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(.5, .5)
  }

  to {
    opacity: 1;
    transform: scale(1, 1)
  }
}

@-webkit-keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(.5, .5)
  }

  to {
    opacity: 1;
    transform: scale(1, 1)
  }
}

@keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1)
  }

  to {
    opacity: 0;
    transform: scale(.5, .5)
  }
}

@-webkit-keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1)
  }

  to {
    opacity: 0;
    transform: scale(.5, .5)
  }
}

@keyframes fade-larger-small {
  from {
    opacity: 0;
    transform: scale(1.5, 1.5)
  }

  to {
    opacity: 1;
    transform: scale(1, 1)
  }
}

@-webkit-keyframes fade-larger-small {
  from {
    opacity: 0;
    transform: scale(1.5, 1.5)
  }

  to {
    opacity: 1;
    transform: scale(1, 1)
  }
}

@keyframes fade-small-larger {
  from {
    opacity: 1;
    transform: scale(1, 1)
  }

  to {
    opacity: 0;
    transform: scale(1.5, 1.5)
  }
}

@-webkit-keyframes fade-small-larger {
  from {
    opacity: 1;
    transform: scale(1, 1)
  }

  to {
    opacity: 0;
    transform: scale(1.5, 1.5)
  }
}

@keyframes scale-small-large {
  from {
    transform: scale(0, 0)
  }

  to {
    transform: scale(1, 1)
  }
}

@-webkit-keyframes scale-small-large {
  from {
    transform: scale(0, 0)
  }

  to {
    transform: scale(1, 1)
  }
}

@keyframes scale-large-small {
  from {
    transform: scale(1, 1)
  }

  to {
    transform: scale(0, 0)
  }
}

@-webkit-keyframes scale-large-small {
  from {
    transform: scale(1, 1)
  }

  to {
    transform: scale(0, 0)
  }
}

@keyframes up-and-down {
  from {
    transform: translateY(-20px)
  }

  to {
    transform: translateY(20px)
  }
}

@-webkit-keyframes up-and-down {
  from {
    transform: translateY(-20px)
  }

  to {
    transform: translateY(20px)
  }
}

@keyframes left-and-right {
  from {
    transform: translateX(-20px)
  }

  to {
    transform: translateX(20px)
  }
}

@-webkit-keyframes left-and-right {
  from {
    transform: translateX(-20px)
  }

  to {
    transform: translateX(20px)
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1.15, .8)
  }

  20% {
    transform: translateY(-35px) scaleY(1.1)
  }

  50% {
    transform: translateY(-50px) scale(1)
  }

  80% {
    transform: translateY(-35px) scale(1)
  }

  to {
    transform: translateY(0) scale(1.15, .8)
  }
}

#root {
  padding-bottom: 80px;
}

a {
  text-decoration: none;
}

#nav_list button {
  font-size: 120%;
  border: none;
}

#nav_list button.active {
  border-radius: 24px;
  background-color: #00a2ad;
}

#nav_list {
  position: fixed;
}

#blog_settings_list {
  position: fixed;
}

.nav_title {
  position: fixed;
}

.modal-body,
.card-body {
  background-color: rgb(34, 34, 34);
}

.card-img-top {
  filter: brightness(0.5);
}

nav.bg-light,
.navbar-brand {
  background-color: rgb(66, 66, 66) !important;
  color: white !important;
}

.list-group-item,
.list-group-item:hover,
.list-group-item:active {
  background-color: rgb(20, 20, 20);
  ;
  border-radius: 24px !important;
}

.list-group-item a {
  color: rgb(255, 205, 247);
  text-decoration: none;
}


.btn-link {
  color: #00d0ff;
}

.form-control,
.form-control:hover,
.form-control:active,
.form-select,
.dropdown-menu,
.dropdown-item {
  background-color: #04050588 !important;
  color: white !important;
}

.alert-info,
.alert-primary {
  background-color: #445a5a;
  color: white
}

#bbg_settings span,
#bbg_settings div {
  color: aqua;
}

#last_managed_site_link,
#last_managed_site_title,
a,
a:hover,
a:active {
  color: #00d0ff;
  text-decoration: none;
}

.btn-light,
.btn-light:hover,
.btn-light:active {
  background-color: rgb(43, 39, 39);
  border-color: rgb(43, 39, 39);
  color: rgb(255, 251, 0);
}

.page-item-sub b,
.article-item-sub b,
#current_program_version {
  color: rgb(255, 251, 0) !important
}

.page-item-sub i,
.article-item-sub i {
  color: rgb(159, 252, 255) !important
}